<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam hic architecto consequatur magni, corrupti nostrum vero quo eius nobis voluptates vel dignissimos minus, ea veritatis perspiciatis suscipit consequuntur enim facere corporis id. Nesciunt dolore harum modi nulla iure distinctio, illo, magnam doloribus, cumque consequatur nostrum? Aspernatur, ex facere. Sunt natus aliquam hic non id impedit autem eligendi? Dolorem, tenetur, magni est similique ipsum eaque illo veritatis repellendus nam id laborum architecto sunt nostrum! Temporibus libero nostrum dolorem nisi, aliquid enim, obcaecati itaque voluptate totam iusto officia explicabo impedit tempore sed! Ratione hic accusamus ipsam? Esse consequatur, inventore voluptas a expedita, harum nam quas vitae exercitationem molestiae accusamus non eos officia atque explicabo molestias repudiandae unde. Perspiciatis aliquid qui voluptates dicta, hic architecto quaerat nihil quas enim dolores. Id, libero. Deserunt esse reprehenderit tenetur magni quae? Quia provident autem ad eaque nostrum quas perferendis omnis distinctio illum in earum, veniam quo sit doloribus. Quidem iste et accusamus repellat harum suscipit distinctio molestiae repudiandae, architecto nostrum optio, voluptatum id sunt vel repellendus quibusdam aliquid totam fugit. Quod explicabo aliquam ut placeat iusto id, expedita iure consectetur magnam nihil sed rem fugit tempora accusantium doloribus veniam recusandae praesentium totam porro vero tenetur ratione adipisci eos? Nulla explicabo amet, beatae, numquam vel ratione voluptates vero pariatur fugiat iure doloremque dignissimos, maiores ea rerum id. Consequatur, libero unde autem inventore nulla veritatis odio sequi aperiam voluptatum, alias repudiandae accusamus dolorum cum maxime eum deleniti? Eveniet obcaecati in porro, reiciendis expedita possimus veniam aperiam quo. Minima eveniet commodi, velit aliquid est tenetur odio dolores saepe laborum eum quo officiis omnis harum libero quod in nihil sit placeat et quae ipsa distinctio dolor facilis. Animi ad molestiae blanditiis dolorum eveniet vero nobis eum ipsam voluptas perspiciatis? Omnis deleniti harum reiciendis totam, ea fuga accusamus quidem recusandae consequuntur!</p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>